<h1><%= @genre.name %></h1>
<h3>Songs</h3>
<ul>
  <% @genre.songs.each do |song| %>
    <li><%= link_to song.name, song %></li>
  <% end %>
</ul>
<h3>Artists</h3>
<ul>
  <% @genre.artists.each do |artist| %>
    <li><%= link_to artist.name, artist %></li>
  <% end %>
</ul>